@model Werkverantwoording.Models.Day

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Progress</h4>

        <ul>
            @foreach (var assignment in ViewBag.Assignments)
            {
                <li>
                    <input type="checkbox" name="SelectedAssignment" id="assignment_@assignment.ID" value="@assignment.ID" />
                  <label for="assignment_@assignment.ID">@assignment.Description</label>
                </li>
            }
        </ul>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
