@model Werkverantwoording.Models.Day
@{
    ViewBag.Title = "Confirmation";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Submitted)
    @Html.HiddenFor(model => model.ProgressID)
    @Html.HiddenFor(model => model.UserID)
    
    <div class="form-group">
        <h2>Confirmation</h2>
        <p>Did he really do what he/she said? Confirm it (or not)!</p>
        @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Completed, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-actions no-color">
        <input type="submit" value="Confirm" class="btn btn-default" />
    </div>
}